*{
  font-family:  Helvetica,Arial, sans-serif;
}
img{
  max-width: 100%;
}

body{
  padding: 60px;
}
input{
  color: gray;
  font-size: 1.2rem;
  width: 100%;
}
.card-grid{
  text-align: center;
}


.card {
  align-content: center;
  border: 2.5px solid grey;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: darkgoldenrod;
}

.card p{
  text-align: center;
  font-family: 'Lucida Sans','sans-serif';
  
}
